<div class="container mt-4 mb-5">
    <!-- Label of the component -->
    <div class="row mb-4">
        <div class="col text-left">
            <h2 class="fw-bold">Top 3 Desta Semana</h2>
        </div>
    </div>

    <!--Three Cards-->
    <div class="row g-4">
        <div class="col-md-4">
            <div class="card border border-success">
                <div class="bg-image hover-overlay" mdbRipple
                    rippleColor="light">
                    <img
                        src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp"
                        class="img-fluid" />
                        <span class="badge bg-warning position-absolute fs-6">#1</span>
                    <a href="#!">
                        <div class="mask"
                            style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text...</p>
                    <a href="#" class="btn btn-success">Button</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card border border-success">
                <div class="bg-image hover-overlay" mdbRipple
                    rippleColor="light">
                    <img
                        src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp"
                        class="img-fluid" />
                        <span class="badge bg-secondary position-absolute fs-6">#2</span>
                    <a href="#!">
                        <div class="mask"
                            style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text...</p>
                    <a href="#" class="btn btn-success">Button</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card border border-success">
                <div class="bg-image hover-overlay" mdbRipple
                    rippleColor="light">
                    <img
                        src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp"
                        class="img-fluid" />
                        <span class="badge custom-badge position-absolute fs-6">#3</span>
                    <a href="#!">
                        <div class="mask"
                            style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text...</p>
                    <a href="#" class="btn btn-success">Button</a>
                </div>
            </div>
        </div>
    </div>
</div>