<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-light.bg-gradient">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-7" href>
            <mat-icon>local_grocery_store</mat-icon>
            <span class="gap"></span>
            <span>Compro Abrantes</span>
        </a>
        <span class="example spacer"></span>

        <!-- Toggle button -->
        <button
            class="navbar-toggler"
            type="button"
            (click)="buttonsNav.toggle()"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div
            class="collapse navbar-collapse"
            id="navbarButtonsExample"
            mdbCollapse
            #buttonsNav="mdbCollapse">
            <!-- Left links -->
            <ul class="navbar-nav mx-auto d-flex mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Lojas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Descontos</a>
                </li>
                <li>
                    <a class="nav-link" href="#">Dashboard</a>
                </li>
            </ul>
            <!-- Left links -->

            <div class="d-flex align-items-center">
                <button type="button" class="btn btn-link px-3 me-2 link-success" mdbRipple rippleColor="green">
                    Login
                </button>
                <button type="button" class="btn btn-success me-3">
                    Registe-se
                </button>
            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->