<!-- Footer -->
<footer
    class="footer text-center text-lg-start bg-body-tertiary text-muted mt-5">

    <!-- Section: Social media -->
    <section
        class="d-flex justify-content-center justify-content-lg-between p-0.5">
    
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class>
        <div class="container text-center text-md-start mt-3">
            <!-- Grid row -->
            <div class="row mt-5">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <mat-icon>local_grocery_store</mat-icon>
                    <h6 class="text-uppercase fw-bold mb-4">
                        Compro Abrantes
                    </h6>
                    <p>
                        Damos visibilidade ao comércio local de Abrantes. Ao comprar aqui, apoia os negócios do nosso conselho .
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Shops
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Groceries & Fresh Produce</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Restaurants & Takeaway</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Handmade & Artisanal</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">All</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Information
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">How it Works</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Sign your Shop</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Terms and privacy</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">FAQ</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div
                    class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h6>
                    <p><i class="fas fa-home me-3"></i>Abrantes, Portugal</p>
                    <p><i class="fas fa-envelope me-3"></i>comproabrantes.suporte&#64;gmail.com</p>
                    <p class="text-tertiary"><a href=""><i class="fas fa-print me-3"></i>About Us</a></p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4"
        style="background-color: rgba(0, 0, 0, 0.05);">
        © 2025 Copyright: Compro Abrantes
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
